@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');
:root {
	--corDeFundo: rgb(62, 165, 84);
	--corFonts: rgb(0, 0, 0);
	--corTitulo: hsl(51, 98%, 49%);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	color: var(--corFonts);
}

 :is(html, body) {
	height: 100vh;
	background-color: var(--corDeFundo);
  z-index: -1;
}

header {
	width: 100%;
  height: auto;
}
.titulo{
  position: absolute;
  top: 10vw;
  left: 0;
  width: 100%;
  text-shadow: 5px 2px 5px black;
}
h2 {
    text-align: center;
    color: var(--corTitulo);
    font-weight: 600;
    font-size: 50px;
    z-index: 2;
}

img {
	width: 100%;
	height: 100%;
  max-height: 300px;
  z-index: 0;
}

main {
	max-width: 1400px;
	max-height: 500px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
  z-index: 200;
}
:is(.felling, .caracter, .action) {
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
}
audio {
	width: 200px;
	height: 40px;
	margin: 10px 5px;
}

h3 {
	padding: 10px 0;
	font-weight: 600;
}

h4 {
	font-weight: 400;
	padding: 5px 0;
}
@media screen and (max-width: 650px) {
	.felling {
		display: block;
	}
}
@media screen and (max-width: 447px) {
  h2{
    font-size: 30px;
  }
	:is(.caracter, .action) {
		display: block;
	}
}